pre {
  display: inline-block;
  text-align: left;
  margin: 0;
}

html, body, #root, .wrapper, .game, .background {
  height: 100%;
}
html, body, input {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 13px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-shrink: 0;
}
.header pre {
  margin: auto;
}
.header img {
  margin: 5px;
}

.background {
  text-align: center;
}

.game {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
  overflow-y: hidden;
}

.gamePre {
  white-space: pre;
  text-align: left;
  display: inline-block;
  line-height: 15px;
}
.gamePre.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% { transform: translate3d(-2px, 2px, 0); }
  20%, 80% { transform: translate3d(3px, -3px, 0); }
  30%, 50%, 70% { transform: translate3d(-6px, -6px, 0); }
  40%, 60% { transform: translate3d(6px, -6px, 0); }
}

.joyride {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
